*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: #d6f2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.addNotesContanier{
    width: 90vw;
    height: auto;
    border: 2px solid lightblue;
    border-radius: 10px;
    background-color: white;
    margin-top: 20px;
    padding: 10px;
}
.addNoteBar{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.addNoteBar h3{
    font-size: 18px;
    font-weight: 700;
    font-family: cursive;
    color: #383838;
}
#btnAddNote{
    padding: 5px 15px;
    background-color: gold;
    color: black;
    outline: 0;
    border: none;
    font-family: cursive;
    font-size: 1rem;
    margin-left: 50px;
    cursor: pointer;
}
#btnAddNote:hover{
    background-color: goldenrod;
}
.addNoteContent{
    width: 95%;
    height: auto;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-top: 20px;
    display: none;
}
.addNoteContent h5{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    color: #717070;
}
.addNoteContent input{
    width: 70%;
    height: 50px;
    border: 2px solid gold;
    padding-left: 20px;
    display: block;

}
#btnSaveNote{
    padding: 10px 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    color: black;
    background-color: gold;
    outline: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}
#btnSaveNote:hover{
    background-color: goldenrod;
}
.SavedNotes-Contanier{
    width: 90vw;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    border: 2px solid lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.savednotes-tittle{
    background-color: gold;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
} 
.savednotes-tittle h2{
    font-size: 20px;
    font-family: cursive;
    color: black;
    font-weight: 600;
}
.notes-here{
    width: 96%;
    height: auto;
    padding: 10px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    column-gap: 3%;
    row-gap: 20px;
}
.boxnote{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    overflow: hidden;
    position: relative;
}
#notetitle{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: gold;
    font-weight: 600;
    width: 90%;
    height: auto;
    word-wrap: break-word;
    word-break: break-all;
    border-bottom:2px solid rgb(37, 37, 37);
    padding: 4px 0px;
}
#writednote{
    width: 100%;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    word-wrap: break-word;
    word-break: break-all;
}
.noteFooterAction{
    width: 90%;
    position: absolute;
    height: 26px;
    margin-top: 170px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#dateNoteCreated{
    width: 50%;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: #383838;
}
.bttnDeleteNote{
    width: 40%;
    height: 22px;
    color: white;
    background-color: red;
    outline: none;
    border: none;
    cursor: pointer;
}
.bttnDeleteNote:hover{
    background-color: #6c1010;
}

@media(max-width:600px){

    .addNoteContent input{
        width: 90%;
        height: 40px;
    }

    .notes-here{
        display: flex;
        flex-direction: column;
        column-gap: 0;
    }
    .boxnote{
        width: 93%;
    }
}